<div class="card">
  <div class="card-contents">
    <h2>{{article.title}}</h2>
    <p>{{article.content}}</p>
    <p class="author">By {{article.author}}</p>
  </div>

    <img [src]="article.image" alt={{article.imageAlt}}>

  <div class="addendum">
    <button class="publish" (click)="togglePublishing()">{{article.isPublished ? "Dépublier" : "Publier"}}</button>
    <button (click)="likeArticle()">S'enjailler</button>
    <input type="text" [(ngModel)]="article.comment" placeholder="Ajouter un commentaire">
  </div>

  <p class="published-status">{{article.isPublished ? "Article publié" : "Article non publié"}}</p>

  @if (article.comment) {
    <p class="comment">Commentaire : {{article.comment}}</p>
  }
</div>